FIREBASE_API_KEY=your_firebase_api_key_here
FIREBASE_AUTH_DOMAIN=your_firebase_auth_domain_here
FIREBASE_PROJECT_ID=your_firebase_project_id_here
FIREBASE_STORAGE_BUCKET=your_firebase_storage_bucket_here
FIREBASE_MESSAGING_ID=your_firebase_messaging_id_here
FIREBASE_APP_ID=your_firebase_app_id_here
FIREBASE_MEASUREMENT_ID=your_firebase_measurement_id_here
SERPAPI_API_KEY=your_serpapi_api_key_here