API_KEY=your_firebase_api_key_here,
AUTH_DOMAIN=your_firebase_auth_domain_here,
PROJECT_ID=your_firebase_project_id_here,
STORAGE_BUCKET=your_firebase_storage_bucket_here,
MESSAGING_ID=your_firebase_messaging_id_here,
APP_ID=your_firebase_app_id_here,
MEASUREMENT_ID=your_firebase_measurement_id_here
SERPAPI_API_KEY=your_serpapi_api_key_here